.gallery{

    .box-container{
       @include gird(300px);
 
       .box{
          overflow:hidden;
          position: relative;
          height: 250px;
          
 
          &:hover{
             box-shadow: $box-shadow;
             border:$border;
            
             img{
                transform: translateY(-100%);
                transition: 2s;
             }
 
             .content{
                transform: translateY(0);
                transition: 0.7s;
             }
          }
 
          img{
             height: 100%;
             width: 100%;
             object-fit: cover;
          }
 
          .content{
             position: absolute;
             top:0; left:0;
             background: $white;
             text-align: center;
             padding:30px 20px;
             height: 100%;
             width: 100%;
             transform: translateY(100%);
             padding-top: 40px;
 
             h3{
                @include title-text(20px);
             }
 
             p{
                padding:1rem 0;
                @include graph-text(15px);
             }
          }
       }
    }
 }
 